/* General Styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #131C26;
  background-color: #FFF7EE;
}

main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 30px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
  margin: 5px;
}

h4 {
  margin: 5px;
}

p {
  margin: 2px;
}

/* Contact Form */
.contact-form {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.contact-type {
  display: flex;
  flex-direction: column;
}

/* Footer */
footer {
  background-color: #2E4057;
  padding: 10px 0;
  color: #FFF7EE;
}

.footer-container {
  display: flex;
  width: 100%;
  padding: 0 10px;
}

.footer-left,
.footer-center,
.footer-right {
  padding: 5px;
}

.footer-left {
  text-align: left;
}

.footer-center {
  text-align: center;
  flex-grow: 1;
}

.footer-right {
  text-align: right;
  width: fit-content;
}

.newsletter-form {
  display: flex;
  gap: 8px;
  margin-top: 15px;
}

.newsletter-form input {
  padding: 8px;
  border-radius: 5px;
  border: none;
  outline: none;
  flex: 1;
}

.newsletter-form button {
  padding: 8px 15px;
  background-color: #EE583F;
  border: none;
  color: #FFF7EE;
  border-radius: 5px;
  cursor: pointer;
}

.social-links {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;
}

.social-links img {
  width: 30px;
}

.social-links li a {
  color: #F7B3CC;
  text-decoration: none;
}

.social-links li a:hover {
  text-decoration: underline;
}

/* Header */
header {
  background-color: #2E4057;
  color: #FFF7EE;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.logo img {
  max-width: 150px;
}

.header-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
}

header h1 {
  font-size: 2em;
  margin: 0;
}

nav {
  margin-top: 10px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
}

.nav-links li a {
  color: #F7B3CC;
  text-decoration: none;
  font-weight: bold;
}

.nav-active {
  color: #C7B65E !important;
}

.nav-links li a:hover {
  text-decoration: underline;
}

/* Widget and Table */
.widget-container {
  width: 33%;
  padding: 10px;
}

.widget-header {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.tab-btn {
  background-color: #2E4057;
  color: #FFF7EE;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px 3px 0 0;
  margin-right: 5px;
  font-size: 0.85em;
  outline: none;
}

.tab-btn.active {
  background-color: #EE583F;
}

.tab-btn:hover {
  background-color: #F7B3CC;
  color: #131C26;
}

.item-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #FFF7EE;
}

.item-table th,
.item-table td {
  padding: 10px;
  text-align: left;
}

.item-table td {
  font-size: 0.85em;
}

.item-table tbody tr:hover {
  background-color: #F7B3CC;
}

.item-table td:last-child {
  text-align: right;
  font-style: italic;
  color: #131C26;
}

.item-table td:last-child:hover {
  color: #C7B65E;
}

/* Main Content */
.main-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-row {
  display: flex;
  flex-direction: row;
  margin: 0 10px;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.content-row>div {
  align-items: center;
  flex-grow: 1;
}

/* Books & Genres */
.book-otm {
  text-align: left;
}

.book-otm-image {
  max-width: 100%;
}

.blurb {
  margin: 0 30px;
  max-width: 500px;
}

.genres-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 10px;
}

.genre {
  flex: 1 1 150px;
  text-align: center;
}

.genre button {
  padding: 10px 15px;
  background-color: #2E4057;
  color: #FFF7EE;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #F7B3CC;
  color: #2E4057;
}

/* Calendar Widget */
.calendar-widget {
  width: 100%;
  margin: 0 30px;
  padding: 20px;
}

.month h2 {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: #2E4057;
  margin-bottom: 20px;
}

.calendar-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  font-size: 1em;
}

.calendar-table th {
  background-color: #2E4057;
  color: #FFF7EE;
  padding: 10px;
  font-weight: bold;
}

.calendar-table td {
  border: 1px solid #ddd;
  padding: 10px;
  aspect-ratio: 1 / 1;
  width: calc(100% / 7);
  vertical-align: top;
  position: relative;
}

.day-number {
  font-weight: bold;
  display: block;
}

.event {
  background-color: #EE583F;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.85em;
  margin-top: 5px;
}

.calendar-table td:hover {
  background-color: #F7B3CC;
  cursor: pointer;
}

.calendar-table th:hover {
  background-color: #2E4057;
  cursor: default;
}

/* Cards */
.card-widget {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.card {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: calc(33% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  min-width: 200px;
}

.card-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  color: #2E4057;
}

.card-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 5px;
}

.card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.more-info-btn {
  background-color: #2E4057;
  color: #FFF7EE;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9em;
}

.more-info-btn:hover {
  background-color: #F7B3CC;
}

.add-to-cart-btn {
  background-color: #EE583F;
  color: #FFF7EE;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9em;
}

.add-to-cart-btn:hover {
  background-color: #F7B3CC;
}

/* Buttons */
.view-cart-btn {
  background-color: #EE583F;
  color: #FFF7EE;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.view-cart-btn:hover {
  background-color: #C7B65E;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.content-row-right {
  display: flex;
  justify-content: right;
  margin: 10px;
}

/* Cart */
.cart-container {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f7f7f7;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: none;
}

.cart-container h3 {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #2E4057;
}

#cart-items {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

#cart-items li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-size: 1em;
  color: #131C26;
}

#cart-items li:last-child {
  border-bottom: none;
}

.cart-container button {
  padding: 10px 20px;
  background-color: #EE583F;
  color: #FFF7EE;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  margin-right: 10px;
}

.cart-container button:hover {
  background-color: #C7B65E;
}

/* Media Queries */
@media (max-width: 768px) {

  .footer-container,
  .header-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-left,
  .footer-center,
  .footer-right {
    padding: 10px 0;
    text-align: center;
  }

  .newsletter-form {
    flex-direction: column;
    gap: 10px;
  }

  .social-links {
    justify-content: center;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
  }
}